.App{
  text-align: center;
}
.addList{
  text-align: center;
  background-color: lightcoral;
  border: 5px solid brown;
  box-shadow: inset 10px 5px 5px 1px coral;

}
.table{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 4px solid lightsalmon;
  box-shadow: inset 10px 5px 5px brown;
}

.tableRow{
  text-align: left;
}
.input{
  flex-direction: row;
}


@media ( max-width:378px) {

  .input{
    display: flex;
    flex-direction: column;
    border: 10px solid black;
  }
  
}